.form-group {
    margin-bottom: 1rem;
}
.control-label{
    font-size: 18px;
    margin-bottom: 1rem;
}
.product-container{
    max-height: 300px;
    overflow-y:scroll;
}
.ml-5{
    margin-left:5px !important;
}
.mt-15{
    margin-top:15px !important;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #adadad #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 6px;
    border: 3px solid #ffffff;
  }